html, body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    & nav {
        display: flex;
        justify-content: center;
        border: 1px solid black;
        width: 90%;
        font-size: 22px;
        padding: 20px;
        margin: 0 auto;
        margin-bottom: 10px;

        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            gap: 20px;
            padding: 3px;
        }

        li {
            display: inline;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            &:hover {
                color: #0066cc;
            }
        }
    }

    & img {
        max-width: 50%;
        height: auto;
    }

    & main {
        width: 90%;
        max-width: 1500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & p {
        max-width: 50%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}