<%- include('partials/header') %>
<main>
    <h1>WELCOME TO THE ABOUT ME PAGE!</h1>
    <p>Hello, my name is Bryson Webb. I am from Columbus, Georgia but I grew up in Lehi, UT. I am in my senior year of school, 
    and I am very excited to learn and continue to grow. I have been married for 5 years, and my wife and I are expecting our 
    first baby in a month or so. Something interesting about myself is I am a nationally ranked Ice Cream thrower through the 
    Cold Stone Creamery Cup. I currently work for a financial institution and have been with them for 5 years and I love it. I 
    play basketball every morning as well at 5:30 AM I hope that what I learn in this class can help me in my daily life or in 
    my career. My goal is to switch from banking into a data analyst role for a finance company. Something I think helps to become 
    successful is being consistent. I think that as we try our best and stay as consistent as we can create good habits to help us 
    succeed. One quote that I heard recently and really liked is “A habit missed once is a mistake. A habit missed twice is the 
    start of a new habit.” Let’s make sure we create good habits so we can all succeed. </p>
    <img src="/images/headshot.jpeg" alt="Headshot of Bryson Webb">
</main>
<%- include('partials/footer') %>