<%- include('partials/header') %>
<main>
    <h1>WELCOME TO THE HOME PAGE</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae delectus corporis saepe nemo esse ratione sed, eligendi laboriosam aperiam. Consectetur perspiciatis molestiae, non architecto libero at sit facilis repellendus ullam.</p>
</main>
<%- include('partials/footer') %>