<%- include('partials/header') %>
<main>
    <h1>WELCOME TO THE PRODUCT PAGE</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque officiis doloremque numquam architecto explicabo accusantium et optio voluptatem, dignissimos ducimus commodi quas iste cum, quaerat debitis rem officia! Commodi, aliquam.</p>
</main>
<%- include('partials/footer') %>